section, .section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: $gutter-horizontal;
  padding-right: $gutter-horizontal;
  padding-top: $gutter-vertical;
  padding-bottom: $gutter-vertical;
  overflow: hidden;
}

.vh100 {
	height: 100vh;
}

.margin {margin-top: $gutter-vertical; margin-bottom: $gutter-vertical;}
.margin-none {margin-top: 0; margin-bottom: 0;}
.margin-top {margin-top: $gutter-vertical;}
.margin-bottom {margin-bottom: $gutter-vertical;}
.padding {padding-top: $gutter-vertical; padding-bottom: $gutter-vertical;}
.padding-none {padding-top: 0; padding-bottom: 0;}
.padding-top {padding-top: $gutter-vertical;}
.padding-bottom {padding-bottom: $gutter-vertical;}

.overflow {overflow: visible;}

.jc_center {justify-content: center;}
.ai_center {align-items: center;}
.jc_start {justify-content: flex-start;}
.ai_start {align-items: flex-start;}
.jc_end {justify-content: flex-end;}
.ai_end {align-items: flex-end;}


@mixin column {position: relative; display: block;}
@mixin flexed {display: flex; flex-wrap: wrap;}
.flexed {@include flexed;}
.column {@include column;}

c-20  {
	@include column; max-width: 100%; -ms-flex: 0 0 100%; flex: 0 0 100%;
	@include lg {
		max-width: 50%; -ms-flex: 0 0 50%; flex: 0 0 50%;
	}
	@include xl {
		max-width: 20%; -ms-flex: 0 0 20%; flex: 0 0 20%;		
	}}
c-25  {
	@include column; max-width: 100%; -ms-flex: 0 0 100%; flex: 0 0 100%;
	@include lg {
		max-width: 50%; -ms-flex: 0 0 50%; flex: 0 0 50%;
	}
	@include xl {
		max-width: 25%; -ms-flex: 0 0 25%; flex: 0 0 25%;
	}}
c-30  {
	@include column; max-width: 100%; -ms-flex: 0 0 100%; flex: 0 0 100%;
	@include lg {
		max-width: 30%; -ms-flex: 0 0 30%; flex: 0 0 30%;
	}}	
c-33  {
	@include column; max-width: 100%; -ms-flex: 0 0 100%; flex: 0 0 100%;
	@include lg {
		max-width: 33.33333%; -ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%;
	}}
c-40  {
	@include column; max-width: 100%; -ms-flex: 0 0 100%; flex: 0 0 100%;
	@include lg {
		max-width: 40%; -ms-flex: 0 0 40%; flex: 0 0 40%;
	}}
c-50  {
	@include column; max-width: 100%; -ms-flex: 0 0 100%; flex: 0 0 100%;
	@include lg {
		max-width: 50%; -ms-flex: 0 0 50%; flex: 0 0 50%;
	}}
c-60  {
	@include column; max-width: 100%; -ms-flex: 0 0 100%; flex: 0 0 100%;
	@include lg {
		max-width: 60%; -ms-flex: 0 0 60%; flex: 0 0 60%;
	}}
c-66  {
	@include column; max-width: 100%; -ms-flex: 0 0 100%; flex: 0 0 100%;
	@include lg {
		max-width: 66.66667%; -ms-flex: 0 0 66.66667%; flex: 0 0 66.66667%;
	}}
c-70  {
	@include column; max-width: 100%; -ms-flex: 0 0 100%; flex: 0 0 100%;
	@include lg {
		max-width: 70%; -ms-flex: 0 0 70%; flex: 0 0 70%;
	}}
c-75  {
	@include column; max-width: 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; 
	@include lg {
		max-width: 75%; -ms-flex: 0 0 75%; flex: 0 0 75%;
	}}
c-80  {
	@include column; max-width: 100%; -ms-flex: 0 0 100%; flex: 0 0 100%;
	@include lg {
		max-width: 80%; -ms-flex: 0 0 80%; flex: 0 0 80%;
	}}
c-90  {
	@include column; max-width: 100%; -ms-flex: 0 0 100%; flex: 0 0 100%;
	@include lg {
		max-width: 90%; -ms-flex: 0 0 90%; flex: 0 0 90%;
	}}
c-100 {
	@include column; max-width: 100%; -ms-flex: 0 0 100%; flex: 0 0 100%;
	}

c-inner {
	padding: $gutter-horizontal-mobile; 
	display: block; 
	position: relative; 
	width: 100%;
	@include sm {
		padding: $gutter-horizontal-tablet; 
	}
	@include lg {
		padding: $gutter-horizontal; 
	}
}
